<html xmlns="http://www.w3.org/1999/xhtml" content="text/html;">
<head>
    <title>Вход в систему</title>
</head>
<body>
<div class="top">
    <h3>Вход для администратора</h3>
    <form action="login" method="post">
        <label>
            login <br/>
            <input type="text" name="login" value="admin">
        </label>
        <br/>
        <label>
            password <br/>
            <input type="password" name="password" value="11111">
        </label>
        <br/><br/>
        <input type="submit" value="Войти">
    </form>
</div>
</body>
</html>